.stock-chart {
  height: 200px;
  margin: 10px 0; /* Optional: Add some spacing between the divs */
}
.chart-row {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 800px;
}

#operator {
  height: 100px;
}

#chart-0 {
  height: 50px; /* Set a fixed height */
  /* height: calc(100% - 20px); Adjust height based on container's height */
}

#warning {
  padding: 0.1rem 1rem;
  font-size: small;
}

.warning-message {
  padding: inherit;
}
